extends layout

block content
    .jumbotron
        .container
          h1.display-3 Tuition Center
          |       
          p
            | Once you have decided that tutoring is for you, and researched the relevant curriculum areas, you will need to find new students. For many, this is actually the most difficult part of being a tutor, so we have created this website to help you attract new students for private tuition.
          |       
          p
            a.btn.btn-primary.btn-lg(href='/about', role='button') Learn more &raquo;
    .container
        .row
          .col-md-4
            h2 Subjects
            |         
            p
              | Add the subjects and levels that your are confident to tutor. Make sure that you add ALL of the levels you can teach, not just the highest.

            |         
            p
              a.btn.btn-secondary(href='#', role='button') View details &raquo;
          |       
          .col-md-4
            h2 Qualifications
            |         
            p
              | Add any qualifications you have achieved, such as A-levels or Degrees. Be sure to list those which are applicable to the subjects you teach, rather than listing all of your qualifications.
            |         
            p
              a.btn.btn-secondary(href='/about', role='button') View details &raquo;
          |       
          .col-md-4
            h2 Travel Policy
            |         
            p
              | There is debate about the benefits of tutoring from home versus those of visiting your students. Here at Tutorful, we have found that the vast majority of parents want tutors to come to them.
            |         
            p
              a.btn.btn-secondary(href='/contact', role='button') View details &raquo;